/**
 * 	jTetris
 *  Author : Elfhir - Jérémy Ta
 *  Licence : MIT
 */

@font-face {
    font-family: 'silkscreennormal';
    src: url('../fonts/silkscreen/slkscr-webfont.eot');
    src: url('../fonts/silkscreen/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/silkscreen/slkscr-webfont.woff') format('woff'),
         url('../fonts/silkscreen/slkscr-webfont.ttf') format('truetype'),
         url('../fonts/silkscreen/slkscr-webfont.svg#silkscreennormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

#container {
	font-family: Calibri, Verdana, Arial, sans-serif;
	height: 615px;
	overflow: hidden;
}

#jTetris-title {
	font-family: 'silkscreennormal';
	color: #ccc;
}

#jTetris-footer {
	position: relative;
	top: 16%;
	background: #222222;
	color: #eee;
}

/* ------------------------- */

#jTetris-wrapper {
	background: #000;
}

#jTetris {
	width: 300px;
	height: 300px;
	background: #ccc;
}

#jTetris-game-zone {
	background: #444;
}

#jTetris-info-zone {
	padding: 0;
	height: 300px;
	background: #bbb;
}

#jTetris-tetriminoes-info {
	height: 100px;
	background: #777;
}

#jTetris-score-info {
	height: 200px;
	background: #222;
}